body {
  margin: 0;
  padding: 0;
}

body {
  width: 50%;
  margin-left: 30px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 1.5em;
  transition: .05s;
}

a:hover {
  font-size: 2rem;
  color: salmon;
}