/* gusto ko lang naman makabalik ng tech at mag qualify as web developer T_T */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: .5rem;
}

header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  color: #fff;
  background-color: #393f4d;

  display: flex;
  justify-content: space-between;
}

h1 {
  margin: auto 0 auto 2em;

}

.links {
  font-size: 1.2rem;
  margin: auto 5em auto 0;

  display: flex;
  gap: 10em;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  color: #fff;
  background-color: #ff7755;
  border: 1px solid #fff;

  display: flex;
  justify-content: space-around;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
  color: #fff;
  background-color: #ff7755;
}

section {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  background-color: #bccbde;
}

footer {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  color: #fff;
  background-color: #393f4d;
}

.kodego {
  text-align: center;
  display: block;
  margin: 100px;
}